<h2 class = "text-center">New Task</h2>

<%= render 'form' %> <!-- if form is inside tasks folder there is no need to identify it as 'tasks/form'. However layouts always need to be specified as 'layout/???' as an additional form of security-->
